{% extends 'layouts/default/page.html' %} {% load i18n %} {% block content %} {% if request.user.is_authenticated %} {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. {% else %} {% trans 'You are a guest.' %} {% endif %}

<style>
btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

</style>
<p style = "color: rgb(78, 109, 136)"> WORLD TRADING DATA </p>
  
 <p style = "color:rgb(78, 109, 136); display:inline">YOUR CAPITAL : {{user_capital}}</p>

 
 
 {% if symbol != ""  and ord_type == 'Market' %}

 <div class="btn-group" style = "margin-left:120px;  display:inline">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Market Order
  </button>
  <div class="dropdown-menu">
      <form method="get">
    <input class="dropdown-item" type="submit" name = "limitorder" value = "Limit Order" >
    <input type="hidden" name="stockdata" value="{{symbol}}" />
    </form>
  </div>
</div>
  {% endif %}
  
  
  {% if symbol != ""  and ord_type == 'Limit' %}
<div class="btn-group" style = "margin-left:120px;  display:inline">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Limit Order
    </button>
    <div class="dropdown-menu">
        <form method="get">
      <input class="dropdown-item" type="submit" name = "limitorder" value = "Market Order" >
      <input type="hidden" name="stockdata" value="{{symbol}}" />

      </form>
    </div>
  </div>

  {% endif %}



    <form method="get" id=1>
      {{ form.as_p  }}
      {% if symbol == "" %}
      <button type="submit">search</button>
      {% else %}
      <button type="submit" name ="buy">buy</button>
      <button type="submit" name = "sell">sell</button>
      {% endif %}
    </form>




    <div class="btn-toolbar">

  
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style =" margin-right: 10px;">
          Your Portfolio
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" style = "text-decoration: underline; font-weight: bold;">Stockname  Quantity</a>
            {% for stock,quant in stock_quantity %}
            
              <a class="dropdown-item"   href="http://localhost:8000/?tvwidgetsymbol=NASDAQ:{{stock}}"><div style = "float:left; color:rgb(78, 109, 136);"> {{stock }}</div> <div style = "float:right; color:rgb(78, 109, 136)">{{quant}}</div></a>
              
            
          {% endfor %}
          
          
        </div>
      </div>

      <div class="dropdown show" >
        <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Your Orders
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"  >
            <a class="dropdown-item" style = "font-weight: bold;"><p style = "display:inline; text-decoration:underline;">Stockname</p> <p style = "display:inline; text-decoration:underline;">Quantity</p> <p style = "display:inline; text-decoration:underline;">Amount</p>   </a>
            {% for rowid,Symbol,Quantity,BuySell in open_orders %}
            
              <a class="dropdown-item"  style = "color:rgb(78, 109, 136); "  > <div style = "margin-right: 50px; display:inline-block"> {{Symbol}} </div> <div style = "margin-right: 50px; display:inline-block">{{Quantity}}&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;  
                {% if  BuySell == 'B' %}
                 Buy
                {% else %}
                Sell
                {% endif %}
                &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; 
                <form action = "#" method = "get">  
                    <input type="submit" class="btn btn-primary"  value="cancel" name="cancelOrder{{rowid}}" style = "float:right;margin-top:-20px; background-color:rgb(204, 0, 0); " name = "print-btn">                
                
                </form></div> </a>
              
            
          {% endfor %}
          
          
        </div>
      </div>

    </div>


        <!-- TradingView Widget BEGIN -->
<!-- TradingView Widget BEGIN -->
{% if symbol == "" %}
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
    {
    "colorTheme": "light",
    "dateRange": "12m",
    "showChart": true,
    "locale": "en",
    "width": "100%",
    "height": "800",
    "largeChartUrl": "http://localhost:8000/",
    "isTransparent": false,
    "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
    "plotLineColorFalling": "rgba(33, 150, 243, 1)",
    "gridLineColor": "rgba(233, 233, 234, 1)",
    "scaleFontColor": "rgba(120, 123, 134, 1)",
    "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
    "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
    "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
    "tabs": [
      {
        "title": "Indices",
        "symbols": [
        {% for stock in stocks %}
          {
            "s": "NASDAQ:{{stock}}"
          },
        {% endfor %}
          {
            "s": "OANDA:NAS100USD",
            "d": "Nasdaq 100"
          }
          
        ],
        "originalTitle": "Indices"
      },
      {
        "title": "Commodities",
        "symbols": [
          {
            "s": "CME_MINI:ES1!",
            "d": "E-Mini S&P"
          },
          {
            "s": "CME:6E1!",
            "d": "Euro"
          },
          {
            "s": "COMEX:GC1!",
            "d": "Gold"
          },
          {
            "s": "NYMEX:CL1!",
            "d": "Crude Oil"
          },
          {
            "s": "NYMEX:NG1!",
            "d": "Natural Gas"
          },
          {
            "s": "CBOT:ZC1!",
            "d": "Corn"
          }
        ],
        "originalTitle": "Commodities"
      },
      {
        "title": "Bonds",
        "symbols": [
          {
            "s": "CME:GE1!",
            "d": "Eurodollar"
          },
          {
            "s": "CBOT:ZB1!",
            "d": "T-Bond"
          },
          {
            "s": "CBOT:UB1!",
            "d": "Ultra T-Bond"
          },
          {
            "s": "EUREX:FGBL1!",
            "d": "Euro Bund"
          },
          {
            "s": "EUREX:FBTP1!",
            "d": "Euro BTP"
          },
          {
            "s": "EUREX:FGBM1!",
            "d": "Euro BOBL"
          }
        ],
        "originalTitle": "Bonds"
      },
      {
        "title": "Forex",
        "symbols": [
          {
            "s": "FX:EURUSD"
          },
          {
            "s": "FX:GBPUSD"
          },
          {
            "s": "FX:USDJPY"
          },
          {
            "s": "FX:USDCHF"
          },
          {
            "s": "FX:AUDUSD"
          },
          {
            "s": "FX:USDCAD"
          }
        ],
        "originalTitle": "Forex"
      }
    ]
  }
    </script>
  </div>
  {% else %}
  
  <!-- TradingView Widget END -->
  <!-- TradingView Widget END -->

    <!-- TradingView Widget BEGIN -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_b0109"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "NASDAQ:{{symbol}}",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_b0109"
}
  );
  </script>


</div>
{% endif %}
<!-- TradingView Widget END -->
  </table>


{% endblock %}