{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

    <!--{% if stocks_result %} -->
    	{% if stocks_result.success %}
    		<h2> WORLD TRADING DATA <h2>
    		{% for stock in stocks_result.data%}
    			<p> Stock Data for <strong>{{stock.symbol}}</strong>: {stock} </p>
    		{% endfor %}
    	{% endif %}
    <!--{% else %}
    	<h2> BROKEN <h2>
    {% endif %}-->

{% endblock %}
